body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

ul {
    font-weight: light;
}

li {
    text-align: center;
    font-weight: 200;
}

h1 {
    text-align: center;
    background-color: lightblue;
}

p {
    font-weight: 200;
    font-size: 18px;
}